@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* padding: 20px; */
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montagu Slab", serif;
  margin: 0;
}

p {
  font-family: "Montagu Slab";
  /* padding: 20px; */
  /* font-size: 22px; */
  font: bold;
}

.canvasbox {
  width: 450px;
  /* height: 338px; */
  /* border-bottom: 3px solid #0063ff; */
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
  width: auto;
  /* height: 60%; */
  border: 3px solid black;
  border-radius: 20px;
}

.updatenote {
  padding: 10px;
  border-radius: 5px;
  background: red;
  color: white;
  display: inline;
  border: none;
  cursor: not-allowed;
}

#trackbutton {
  border-radius: 5px;
  border: none;
  padding: 10px;
  display: inline;
}

#trackbutton:hover {
  cursor: pointer;
}

#trackbutton::after {
  background-color: green;
}

i {
  font-size: 20px;
  margin-right: 10px;
  color: black;
}

i:active {
  color: green;
}

i::before {
  transform: color green;
}

.videobox {
  border: none;
  box-shadow: none;
  display: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .canvasbox {
    width: 85%;
  }
}
